<!DOCTYPE html>
<html lang="fa">
  <head>
    <meta charset="UTF-8" />
    <title>SSH Logs</title>
    <link rel="stylesheet" href="/style.css" />
    <script defer src="/main.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
